@charset "utf-8";
/* CSS Document */

.tb-club-medium-button {
	display: block;
	width: 60px;
	height: 60px;
	padding: 10px 10px 10px 9px;
	border-radius: 3px;
	background: #fff;
	background-image: linear-gradient(bottom, #F4F4F4 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #F4F4F4 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F4F4F4 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F4F4F4 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F4F4F4 0%, #FFFFFF 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #F4F4F4),
		color-stop(1, #FFFFFF)
	);
	border: 1px solid #bbbbbb;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	float: left;
	margin: 5px;
}
.tb-club-medium-button:hover {
	border-color: #666;
}
.tb-club-medium-button img {
	display: block;
	margin: 0 auto;
}
.tb-club-medium-button span {
	display: block;
	margin-top: 2px;
}

.tb-club-big-button {
	display: block;
	width: 120px;
	height: 120px;
	padding: 20px;
	border-radius: 3px;
	background: #fff;
	background-image: linear-gradient(bottom, #F4F4F4 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #F4F4F4 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F4F4F4 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F4F4F4 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F4F4F4 0%, #FFFFFF 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #F4F4F4),
		color-stop(1, #FFFFFF)
	);
	border: 1px solid #bbbbbb;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
.tb-club-big-button:hover {
	border-color: #666;
}
.tb-club-big-button img {
	display: block;
	margin: 0 auto;
}
.tb-club-big-button span {
	display: block;
	margin-top: 10px;
}

/* TinyMCE buttons */
.wp_themeSkin span.mce_tb_standings,
.wp_themeSkin span.mce_tb_match,
.wp_themeSkin span.mce_tb_fixtures,
.wp_themeSkin span.mce_tb_results,
.wp_themeSkin span.mce_tb_player,
.wp_themeSkin span.mce_tb_players,
.wp_themeSkin span.mce_tb_staff,
.wp_themeSkin span.mce_tb_sponsors,
.wp_themeSkin span.mce_tb_rotator,
.wp_themeSkin span.mce_tb_contact,
.wp_themeSkin span.mce_tb_map {
	background: url(../images/admin/wpicons.png) no-repeat 20px 20px;
}
.wp_themeSkin span.mce_tb_standings {
	background-position: 0 -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_standings {
	background-position: 0 0;
}
.wp_themeSkin span.mce_tb_match {
	background-position: -20px -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_match {
	background-position: -20px 0;
}
.wp_themeSkin span.mce_tb_fixtures {
	background-position: -40px -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_fixtures {
	background-position: -40px 0;
}
.wp_themeSkin span.mce_tb_results {
	background-position: -60px -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_results {
	background-position: -60px 0;
}
.wp_themeSkin span.mce_tb_player {
	background-position: -80px -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_player {
	background-position: -80px 0;
}
.wp_themeSkin span.mce_tb_players {
	background-position: -100px -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_players {
	background-position: -100px 0;
}
.wp_themeSkin span.mce_tb_staff {
	background-position: -120px -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_staff {
	background-position: -120px 0;
}
.wp_themeSkin span.mce_tb_sponsors {
	background-position: -140px -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_sponsors {
	background-position: -140px 0;
}
.wp_themeSkin span.mce_tb_rotator {
	background-position: -160px -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_rotator {
	background-position: -160px 0;
}
.wp_themeSkin span.mce_tb_contact {
	background-position: -180px -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_contact {
	background-position: -180px 0;
}
.wp_themeSkin span.mce_tb_map {
	background-position: -200px -20px;
}
.wp_themeSkin a.mceButtonEnabled:hover span.mce_tb_map {
	background-position: -200px 0;
}